.App {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 10px grey;
}

.box {
  box-shadow: 2px 2px 10px grey;
  padding: 10px;
  background: #333333;
}

h4 {
  text-transform: uppercase;
  color: lightgreen;
}

.box textarea {
  background: #cccccc;
  font-weight: bold;
  color: #333333;
}

.box input {
  background: grey;
  border: none;
  color: darkred;
  padding: 5px;
  font-weight: bold;
}

.box button {
  background-color: #4CAF50;
  font-weight: bold;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}